PcapDotNet/3rdParty/
PcapDotNet/bin/
PcapDotNet/obj/
PcapDotNet/src/*/obj
PcapDotNet/src/*/bin
PcapDotNet/src/TestResults
.vs/
TemporaryGeneratedFile_*
*.cache
*.csproj.FileListAbsolute.txt
*.dll
*.opensdf
*.pdb
*.sdf
*.suo
*.vcxproj.user
*.db
*.opendb
